<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotoElecForms.Properties.Settings.Voto_ElectronicoConnectionString"
            connectionString="Data Source=DESKTOP-JAQKN1G;Initial Catalog=Voto_Electronico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>