<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VotoClass.Properties.Settings.Voto_ElectronicoConnectionString"
            connectionString="Data Source=DESKTOP-JAQKN1G;Initial Catalog=Voto_Electronico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VotoClass.Properties.Settings.Voto_ElectronicoConnectionString1"
            connectionString="Data Source=MAINPC\SQLEXPRESS;Initial Catalog=Voto_Electronico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>